.container{
    background-color: cornflowerblue;
}

.container .block{
    margin:20px;
    padding:20px;
    background-color: white;
}
main>div {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /*25% 50% 25% */
    grid-template-rows: repeat(5, 1fr); /* rij 2is 3x zo groot als rij 1 en 3. gelijk maken = auto auto auto*/
    /* grid-gap: 20px; /*breedte tussen elke cel*/
}

.block.block1{
grid-area: 1/1/2/2;
 }
.block.block2{
grid-area: 1/5/2/6;
}
.block.block3{
    grid-area: 2/2/3/3;

}
.block.block4{
    grid-area: 2/4/3/5;

}
.block.block5{
    grid-area: 3/3/4/4;
}
.block.block6{
    grid-area: 4/2/5/3;
}
.block.block7{
    grid-area: 4/4/5/5;

}
.block.block8{
    grid-area: 5/1/6/2;

}
.block.block9{
    grid-area: 5/5/6/6;
}
