.icon-link {
    padding-left: 20px;
    background-image: url('../afbeeldingen/4999412-mail-icon-envelop-teken-e-mail-symbool-gratis-vector.jpg');
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: left center;
}

