a{
    padding: 1em;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("../afbeeldingen/4999412-mail-icon-envelop-teken-e-mail-symbool-gratis-vector.jpg");
}