
article {
    font-family: Verdana, sans-serif;
    font-size: 1.25em;
    border: 1px solid black;
    margin: 10px;
    min-height: 250px;
    padding: 10px;
}

img{
    margin: 0;
    padding-right:10px ;
    padding-left:10px ;
}
article:nth-child(even) img{
    float: right;
}
article:nth-child(odd) img{
    float: left;
}
h2 {
    margin: 0;
}

